{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 44, "knowledge_revision": 185, "git_revision": "", "hash": "521094efc10a2c4890681e138ed043bd", "format-version": 4, "code-base-name": "default", "filename": "tic_tac_toe_frontend_workspace/tic_tac_toe_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"185": ""}]}